<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
    body {background-color: #333333;}
    h1  {
            position: relative;
            color: #00ff08;
            text-align: center;
            font-family: "Arial", sans-serif;
        }

    p {
        position: relative; 
        font-family: "Courier New", Courier, monospace;
        color: #00ff08;
        margin-left: 30%;
        margin-right: 30%;
    }

    h2 {
        color: #00ff08;
        font-family: "Arial", sans-serif;
        margin-left: 30%;
        margin-right: 30%;
    }
</style>
    <title>MKB-WebApp</title>
</head>
<body>
    <h1>Welcome to MKB-WebApp</h1>
    <h2>Subtitle 1</h2>
    <p class="sections">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat lobortis volutpat. Morbi luctus dictum tincidunt. Duis nec turpis urna. In ligula mi, pretium ut sollicitudin quis, vestibulum eget sapien. Nulla convallis purus ut tristique varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed neque ipsum, vehicula ut dignissim at, lacinia ut urna. Maecenas quis dictum sapien.
    </p>
    <h2>Subtitle 2</h2>
    <p class="sections">
    Quisque dignissim suscipit diam, in vulputate ligula facilisis in. Morbi scelerisque euismod leo, non molestie sem tempor quis. Integer egestas eleifend laoreet. Donec tincidunt massa id eros aliquam, non posuere tortor vulputate. Praesent vulputate sollicitudin ullamcorper. Vestibulum eget fermentum nibh, a tincidunt dui. Sed et neque augue. Phasellus posuere turpis nec varius volutpat. Etiam vulputate velit in ligula imperdiet pulvinar ut eu lacus. Vivamus tincidunt, urna sit amet vehicula malesuada, elit sapien ultricies nunc, in dapibus massa risus et ex. Duis laoreet imperdiet viverra. In euismod odio id venenatis ultrices. Nam sit amet faucibus erat. Aliquam erat volutpat.
    </p>
    <h2>Subtitle 3</h2>
    <p class="sections">
      Sed arcu metus, vestibulum ut imperdiet et, fermentum sit amet mi. Quisque nec sapien tellus. Fusce posuere eleifend dolor vitae gravida. Morbi sodales mattis tortor, sed eleifend risus maximus tempus. Pellentesque rhoncus euismod ante vitae gravida. Curabitur nisl orci, lacinia a purus non, iaculis vestibulum diam. Maecenas a posuere ipsum. Nullam eget orci nunc. Fusce ultricies ipsum in ante condimentum, a sollicitudin velit dapibus.
    </p>
    <h2>Subtitle 4</h2>
    <p class="sections">
      Nulla gravida nibh quis lacus gravida viverra. Sed vestibulum, dolor at rutrum placerat, lectus ipsum condimentum ante, viverra tincidunt odio metus et massa. Donec dictum dui eu odio condimentum tempor imperdiet et lacus. Integer egestas sagittis condimentum. Donec nulla nulla, fringilla at augue id, fermentum egestas risus. Etiam quis purus sed orci malesuada facilisis a eget est. Duis ut quam at purus mattis porta eget a ipsum. Quisque convallis semper tempus. Sed et efficitur ex. Nulla sagittis, sapien accumsan suscipit feugiat, massa mi elementum elit, a cursus velit ligula sit amet erat. Ut eget consectetur mauris. Nullam vel arcu dapibus, scelerisque nulla a, tempor purus.
    </p>
    <h2>Subtitle 5</h2>
    <p class="sections">
      Donec et magna viverra, sollicitudin nisl vitae, gravida purus. Pellentesque molestie blandit facilisis. Fusce vitae sapien rutrum, vulputate velit in, convallis ex. Aliquam velit nibh, consequat non maximus sed, fermentum quis lectus. Nullam venenatis sed orci et mattis. Ut in diam auctor, ultrices felis ac, pellentesque justo. Maecenas ut purus placerat, rhoncus justo fermentum, gravida eros. Suspendisse ullamcorper laoreet nulla, egestas molestie eros rhoncus in. Donec venenatis pharetra ipsum eget accumsan. Vestibulum non vehicula metus. In sodales purus porttitor cursus tristique. Quisque vitae blandit libero. Morbi dolor odio, pharetra eget ultrices in, maximus non
    </p>
</body>
</html>
